@import '../../../assets/variables.scss';

.checkout-area-header {
    margin-bottom: 10px;

    &-details {
        margin-bottom: 10px;

        .btn-link {
            i {
                margin-right: 10px;
            }
        }
    }

    &-total {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 1.14;
        font-weight: 700;
        margin-bottom: 10px;

        @media (min-width: $screen-xs) {
            font-size: $font-size-h2;
        }
    }
}

.checkout-area-item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkout-area-item {
    border-top: 1px solid $border-color;
    margin-bottom: 15px;
    padding-top: 15px;

    strong {
        display: block;
        margin-bottom: 5px;
    }
}

.checkout-area-item-select-options {
    display: flex;
    margin: 0 -10px;
}

.checkout-area-item-column {
    width: 50%;
    padding: 0 10px;
    text-align: center;

    .icon-holder {
        margin-bottom: 10px;
        font-size: 24px;
    }
}