.accordion {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
}

.accordion-item-content {
    display: none;
    font-size: 12px;
    line-height: 1.3;
    white-space: pre-wrap;
    padding: 0 50px 16px 0;
}