@import '../../../assets/variables.scss';

.accordion-item {
    &.is-open {
        .accordion-item-content {
            display: block;
        }

        .accordion-item-title {
            i {
                transform: rotate(180deg) translateY(-50%);
                transform-origin: 50% 0;
            }
        }
    }

    border-top: 1px solid $border-color;

    &:first-child {
        border-top: 0;
    }
}