@import '../../../assets/variables.scss';

.load-more-button {
    text-align: center;

    .btn {
        font-size: 14px;
        line-height: 1.42857143;
        font-weight: 700;
        color: $link-color;
        padding: 0;
        border: none;
        background: none;
        transition: color 0.3s ease-in-out;

        i {
            margin-left: 10px;
        }

        &:hover,
        &:focus {
            color: $link-color-hover;
        }
    }
}