.load-more-button {
    text-align: center;

    .btn {
        cursor: pointer;
        font-size: 14px;
        line-height: 1.42857143;
        font-weight: 700;
        color: #78b532;
        padding: 0;
        border: none;
        background: none;
        transition: color 0.3s ease-in-out;

        i {
            margin-left: 10px;
        }

        &:hover,
        &:focus {
            color: #6da52e;
        }
    }
}