@import '../../../assets/variables.scss';

.tab-nav-item {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 11px 5px;
    white-space: nowrap;
    color: $gray;
    font-weight: 700;
    transition: color 0.3s ease-in-out;

    &:before {
        content: '';
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background-color: $link-color-hover;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover,
    &.active {
        &:before {
            opacity: 1;
        }

        color: $base-text-color;
    }
}