.header {
    padding-top: 48px;

    .center-holder {
        padding: 0 30px;
    }

    .logo {
        margin-right: 15px;
        margin-top: 6px;
    }

    .top-space-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 50;

        .center-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.sub-nav-container {
    background-color: #424242;
    
    .center-holder {
        height: 40px;
        display: flex;
        align-items: center;
    }
}