.minibasket-items {
    list-style: none;
    padding: 0;
    margin: 0;

    .btn-delete {
        position: absolute;
        top: 8px;
        right: 0;
    }
}

.minibasket-item {
    position: relative;
    display: flex;
    padding: 8px 20px 8px 16px;
    border-bottom: 1px solid #e1e1e1;

    &-img {
        width: 70px;
        flex-shrink: 0;
        margin-right: 10px;
    }

    &-description {
        flex-grow: 1;
    }

    .price {
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }
}