.item-details {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #f3f3f3;
    padding: 20px 32px 24px;
    border-radius: 4px;

    .btn-edit,
    .btn-close {
        cursor: pointer;
        z-index: 5;
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        padding: 0;
        background: none;
        width: 30px;
        height: 30px;
        color: #78b532;
        transition: color 0.3s ease-in-out;
        font-size: 16px;

        &:hover {
            color: #6da52e;
        }
    }

    .avatar {
        width: 128px;
        flex-shrink: 0;
        margin-right: 30px;
    }

    .info {
        width: 100%;
        padding-top: 10px;
    }
}