@import '../../../assets/variables.scss';

.form-row {
    @media (min-width: $screen-xs) {
        display: flex;
        margin: 0 -10px;
    }

    .form-group {
        @media (min-width: $screen-xs) {
            width: 50%;
            padding: 0 10px;
        }
    }
}