.checkout {
    &-container {
        display: flex;
    }

    &-product-list-container {
        width: calc(100% - 310px);
        margin-right: 20px;
    }

    &-receipt-area-container {
        width: 290px;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        padding: 8px 16px;
    }
}