@import '../../assets/variables.scss';

.checkout {
    &-container {
        @media (min-width: $screen-xs) {
            display: flex;
        }
    }

    &-product-list-container {
        @media (min-width: $screen-xs) {
            width: calc(100% - 310px);
            margin-right: 20px;
        }
    }

    &-receipt-area-container {
        position: fixed;
        height: 120px;
        overflow: hidden;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -5px 5px rgba(0,0,0,.1), 0 -12px 24px 0 rgba(0,0,0,.1);
        padding: 10px 15px;
        background-color: $color-white;
        transition: height 0.3s ease-in-out;
        
        @media (min-width: $screen-xs) {
            position: static;
            height: auto !important;
            bottom: auto;
            top: 0;
            border: 1px solid $border-color;
            border-radius: 4px;
            width: 290px;
            box-shadow: none;
        }
    }
}