.search-panel {
    background-color: #f7f8f8;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;

    &-holder {
        max-width: 752px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &-logo {
        margin-right: 20px;
    }

    &-form {
        width: 100%;
    }

    h5 {
        margin: 0 0 10px;
    }

    .form-group {
        position: relative;
    }

    .btn {
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 2px;
        width: 40px;
        height: 36px;
        padding: 0;
        border-radius: 0;
        background: none;
        border: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #78b532;
        }
    }
}