@import '../../../assets/variables.scss';

.checkout-controls-panel {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sort-by-options {
        strong {
            margin-right: 10px;
        }

        .form-control {
            width: auto;
            background: $select-bg url('./chevron-down-16-black.svg') no-repeat right 12px center;
        }
    }
}