.header {
    padding-top: 7px;

    .center-holder {
        padding: 0 30px;
    }

    .logo {
        margin-right: 15px;
    }
}

.sub-nav-container {
    background-color: #424242;
    
    .center-holder {
        height: 40px;
        display: flex;
        align-items: center;
    }
}