.header {
    padding-top: 7px;
    border-bottom: 1px solid #424242;

    .center-holder {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }

    .logo {
        margin-right: 15px;
    }
}