.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
        
    }

    a {
        display: block;
        color: #fff;
        padding: 0 8px;
        line-height: 30px;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;

        i {
            margin-right: 5px;
        }

        &.active,
        &:focus,
        &:hover {
            color: #fff;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
}