.tab-group-item {
    border-top: 1px solid #e1e1e1;

    &:first-child {
        border-top: 0;
    }
}

.tab-content-item {
    border-top: 1px solid #e1e1e1;

    .no-results {
        padding-top: 14px;
        padding-bottom: 13px;
    }
}