.accordion-item-title {
    cursor: pointer;
    position: relative;
    padding: 14px 40px 13px 0;
    min-height: 48px;
    font-weight: 700;

    i {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
}