// This is base reset for global components.

html, body {
  margin: 0;
	padding: 0;
	border: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: #fff;
  font: 14px/1.5 Arial, 'Helvetica Neue', Helvetica, sans-serif;
  min-width: 320px;

  &.open-nav,
  &.open-menu {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

// adaptive images
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}

// hide tel links on desktop
@media only screen and (min-width: 1025px) {
  a[href^="tel"],
  a[href^="skype"],
  a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}

// hidden element for accessibility
.accessibility {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.skip-main {
  &:focus,
  &:active {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    z-index: 101;
  }
}

// Typography
//
// Base font styles for headings and links.

b,
strong {
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  margin: 0 0 0.5em;
}

h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 12px;
}

p {
  margin: 0 0 1em;
}

a {
  color: #78b532;
  font-weight: bold;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    color: #6da52e;
  }
}

button {
  outline: none;
}

.form-control {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #e9eff0;
  background-color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 1.33;
  transition: border-color 0.3s ease-in-out;

  &:focus {
      outline: none;
      border-color: #000;
  }
}

.btn {
  cursor: pointer;

  &.w-full {
    width: 100%;
  }
}

.btn-primary,
.btn-default {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  padding: 10px 16px;
}

.btn-primary {
  background-color: #78b532;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #6da52e;
    color: #fff;
  }
}

.btn-default {
  background-color: #e9eff0;
  color: #292e31;

  &:focus,
  &:hover {
    background-color: #dde6e8;
    color: #292e31;
  }
}

.btn-delete {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  color: #78b532;
  transition: color 0.3s ease-in-out;
  width: 20px;
  height: 20px;

  &:hover {
      color: #6da52e;
  }
}

.main {
  display: flex;
  min-height: 100vh;
}

.pageBody {
  width: 100%;
  padding:  0 30px 40px;
}

.center-holder {
  max-width: 1440px;
  margin: 0 auto;
}

#root {
  width: 100%;
}